$clr-primary: #a96a71;
$clr-second: #dcd9c1;
$clr-accent: #854c53;
$clr-box: #f9fafb;
$clr-bg: #f8f8f8;
$clr-text: #5d6673;
$clr-border: #cfcfcf;
$box-shadow: rgba(116, 116, 116, 0.16) 0px 3px 6px,
  rgba(116, 116, 116, 0.16) 0px 3px 6px;
