<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../../img/favicon.png"
      type="image/x-icon"
    />
    <title>Movie Time | Original Cinema Website</title>
    <link rel="stylesheet" href="../../styles/css/ProductStyle.css" />
  </head>

  <body>
    <div class="page">
      <!-- Header -->
      <header class="header">
        <nav>
          <div class="container header__inner">
            <div class="header__inner-logo">
              <a href="/"
                ><img
                  src="../../assets/img/header__logo.png"
                  alt="Movie Time Logo"
              /></a>
            </div>

            <div class="header__inner-search">
              <i class="bx bx-search"></i>
              <input type="text" name="search" placeholder="Search..." />
            </div>

            <div class="header__inner-navigation">
              <ul class="header__inner-navigation-menu">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="./products">Lịch chiếu phim</a></li>
                <li><a href="about">Về chúng tôi</a></li>
                <li><a href="pages">Pages</a></li>
              </ul>

              <ul class="header__inner-navigation-cart">
                <li><a href="./orders">My Orders</a></li>
                <li><a href="../Carts/Carts.html">Giỏ hàng</a></li>
              </ul>

              <div id="login">
                <a href="../Login.html"> <i class="bx bx-user"></i>Login </a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <!-- Main -->
      <main>
        <div class="product container">
          <div class="heading">
            <p>
              <a href="/" id="to-home">Home</a>
              <i class="bx bx-chevron-right"></i>
              <a href="./AcMaQuySoII.html"> Ác Quỷ Ma Sơ II </a>
            </p>
          </div>
          <section id="product">
            <div class="product__inner">
              <div class="product__inner-image">
                <img
                  src="../../assets/img/posters/AcQuyMaSoII.jpg"
                  alt="Ác Quỷ Ma Sơ II"
                />
              </div>
              <div class="product__inner-desc">
                <h1 class="product__inner-desc-heading">Ác Quỷ Ma Sơ II</h1>
                <p class="product__inner-desc-desc">
                  Valak trở lại với "Ác Quỷ Ma Sơ 2". Đây sẽ là phần hậu truyện
                  của Ác Quỷ Ma Sơ và đồng thời là phần phim thứ chín thuộc Vũ
                  trụ The Conjuring. Lấy bối cảnh nước Pháp năm 1956, cùng cái
                  chết bí ẩn của một linh mục, một giai thoại đáng sợ và ám ảnh
                  sẽ mở ra. Phần phim tiếp tục xoay quanh nhân vật chính - Sơ
                  Irene - do Taissa Farmiga thủ vai.
                </p>
                <div class="product__inner-desc-others">
                  <p><strong>Đạo diễn:</strong> Michael Chaves</p>
                  <p>
                    <strong>Diễn viên:</strong> Taissa Farmiga, Bonnie Aarons,
                    Storm Reid, Jonas Bloquet, Anna Popplewell
                  </p>
                  <p><strong>Thể loại: </strong> Kinh dị, Hồi Hộp</p>
                  <p><strong>Thời lượng: </strong> 110 phút</p>
                  <p><strong>Ngôn ngữ:</strong> Tiếng Anh</p>
                  <p><strong>Ngày khởi chiếu:</strong> 08/09/2023</p>
                </div>
                <button id="buy">Mua vé</button>
              </div>
            </div>
          </section>
        </div>
        <section id="trailer">
          <h1 class="heading">Trailer</h1>
          <div class="video-frame">
            <iframe
              width="830"
              height="490"
              src="https://www.youtube.com/embed/otM2V_g8Kqo?si=6uL5FmVzc0pu3dyh"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </section>
      </main>
      <!-- Footer -->
      <footer>
        <div class="container footer__inner">
          <div class="copyright">
            <h2>
              Movie
              <p>Time</p>
            </h2>
            <p>Copyright © 2023</p>
            <p>Movie Time | Original Cinema Website</p>
          </div>
          <div class="action">
            <div class="info">
              <div class="row">
                <a href="./about">Giới thiệu</a>
                <a href="./contact">Liên hệ</a>
                <a href="./">Điều khoản</a>
              </div>
              <div class="row">
                <a href="./faq">F.A.Q</a>
                <a href="./ads">Liên hệ quảng cáo</a>
              </div>
            </div>
            <div class="btn-contact">
              <a href="https://www.facebook.com/haiduong004" target="_blank"
                ><button>Contact Us</button></a
              >
            </div>
            <div class="call">
              <p><b>Give us a Call</b>(+84) 123-456-789</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../../utils/AddCarts.js"></script>
    <script src="../../utils/changeHeaderBg.js"></script>
  </body>
</html>
