<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../../img/favicon.png"
      type="image/x-icon"
    />
    <title>Movie Time | Original Cinema Website</title>
    <link rel="stylesheet" href="../../styles/css/ProductStyle.css" />
  </head>

  <body>
    <div class="page">
      <!-- Header -->
      <header class="header">
        <nav>
          <div class="container header__inner">
            <div class="header__inner-logo">
              <a href="/"
                ><img
                  src="../../assets/img/header__logo.png"
                  alt="Movie Time Logo"
              /></a>
            </div>

            <div class="header__inner-search">
              <i class="bx bx-search"></i>
              <input type="text" name="search" placeholder="Search..." />
            </div>

            <div class="header__inner-navigation">
              <ul class="header__inner-navigation-menu">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="./products">Lịch chiếu phim</a></li>
                <li><a href="about">Về chúng tôi</a></li>
                <li><a href="pages">Pages</a></li>
              </ul>

              <ul class="header__inner-navigation-cart">
                <li><a href="./orders">My Orders</a></li>
                <li><a href="../Carts/Carts.html">Giỏ hàng</a></li>
              </ul>

              <div id="login">
                <a href="../Login.html"> <i class="bx bx-user"></i>Login </a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <!-- Main -->
      <main>
        <div class="product container">
          <div class="heading">
            <p>
              <a href="/" id="to-home">Home</a>
              <i class="bx bx-chevron-right"></i>
              <a href="./Shin.html">
                3DCG! Shin - Cậu Bé Bút Chì: Đại Chiến Siêu Năng Lực ~ Shusi Bay
                ~
              </a>
            </p>
          </div>
          <section id="product">
            <div class="product__inner">
              <div class="product__inner-image">
                <img
                  src="../../assets/img/posters/Shin.jpg"
                  alt="3DCG! Shin - Cậu Bé Bút Chì: Đại Chiến Siêu Năng Lực ~ Shusi Bay ~"
                />
              </div>
              <div class="product__inner-desc">
                <h1 class="product__inner-desc-heading">
                  3DCG! Shin - Cậu Bé Bút Chì: Đại Chiến Siêu Năng Lực ~ Shusi
                  Bay ~
                </h1>
                <p class="product__inner-desc-desc">
                  3DCG! Shin Cậu Bé Bút Chì: Đại Chiến Siêu Năng Lực ~Sushi Bay~
                  xoay quanh câu chuyện về hai nguồn sáng đặc biệt từ vũ trụ
                  mang theo siêu năng lực đặc biệt tới Trái Đất. Một nguồn sáng
                  tích cực “nhập” vào nhóc Shin, khiến cặp mông núng nính của
                  cậu chàng trở nên nóng bỏng và có khả năng điều khiển những đồ
                  vật xung quanh theo ý muốn.
                </p>
                <div class="product__inner-desc-others">
                  <p><strong>Đạo diễn:</strong> Hitoshi One</p>
                  <p>
                    <strong>Diễn viên:</strong> Yumiko Kobayashi, Miki
                    Narahashi, Aoi Morikawa, Satomi Kourogi, Suzuki Mogura
                  </p>
                  <p><strong>Thể loại: </strong> Hoạt hình, Phiêu lưu</p>
                  <p><strong>Thời lượng: </strong> 94 phút</p>
                  <p><strong>Ngôn ngữ:</strong> Tiếng Việt</p>
                  <p><strong>Ngày khởi chiếu:</strong> 25/08/2023</p>
                </div>
                <button id="buy">Mua vé</button>
              </div>
            </div>
          </section>
        </div>
        <section id="trailer">
          <h1 class="heading">Trailer</h1>
          <div class="video-frame">
            <iframe
              width="830"
              height="490"
              src="https://www.youtube.com/embed/P6CGQuA73w0?si=2dcuTdB7PpBMWz3j"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </section>
      </main>
      <!-- Footer -->
      <footer>
        <div class="container footer__inner">
          <div class="copyright">
            <h2>
              Movie
              <p>Time</p>
            </h2>
            <p>Copyright © 2023</p>
            <p>Movie Time | Original Cinema Website</p>
          </div>
          <div class="action">
            <div class="info">
              <div class="row">
                <a href="./about">Giới thiệu</a>
                <a href="./contact">Liên hệ</a>
                <a href="./">Điều khoản</a>
              </div>
              <div class="row">
                <a href="./faq">F.A.Q</a>
                <a href="./ads">Liên hệ quảng cáo</a>
              </div>
            </div>
            <div class="btn-contact">
              <a href="https://www.facebook.com/haiduong004" target="_blank"
                ><button>Contact Us</button></a
              >
            </div>
            <div class="call">
              <p><b>Give us a Call</b>(+84) 123-456-789</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../../utils/AddCarts.js"></script>
    <script src="../../utils/changeHeaderBg.js"></script>
  </body>
</html>
