<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../../img/favicon.png"
      type="image/x-icon"
    />
    <title>Movie Time | Original Cinema Website</title>
    <link rel="stylesheet" href="../../styles/css/ProductStyle.css" />
  </head>

  <body>
    <div class="page">
      <!-- Header -->
      <header class="header" id="header"></header>
      <!-- Main -->
      <main>
        <div class="product container">
          <div class="heading">
            <p>
              <a href="/" id="to-home">Home</a>
              <i class="bx bx-chevron-right"></i>
              <a href="./TinhBanDieuKy.html"> Tình Bạn Diệu Kỳ </a>
            </p>
          </div>
          <section id="product">
            <div class="product__inner">
              <div class="product__inner-image">
                <img
                  src="../../assets/img/posters/TinhBanDieuKy.jpg"
                  alt="Tình Bạn Diệu Kỳ"
                />
              </div>
              <div class="product__inner-desc">
                <h1 class="product__inner-desc-heading">Tình Bạn Diệu Kỳ</h1>
                <p class="product__inner-desc-desc">
                  Một cuộc phiêu lưu kỳ thú tại thành phố New York hoa lệ của
                  chú rối bỏ trốn với trí tưởng tượng vô biên - Don và món đồ
                  chơi thú nhồi bông bị bỏ rơi - DJ Doggy Dog tại Công viên
                  Trung tâm. Trải qua bao buồn vui, thăng trầm, cuộc phiêu lưu
                  này đã gắn kết hai mảnh đời dường như chẳng liên quan đến nhau
                  ấy, tạo nên một câu chuyện đẹp về tình bạn.
                </p>
                <div class="product__inner-desc-others">
                  <p><strong>Đạo diễn:</strong> Jérémie Degruson</p>
                  <p>
                    <strong>Diễn viên:</strong> Donte Paris, Art Brown, Jordan
                    Baird, Dakota West, Olivier Paris
                  </p>
                  <p><strong>Thể loại: </strong> Hoạt hình, Phiêu lưu</p>
                  <p><strong>Thời lượng: </strong> 90 phút</p>
                  <p><strong>Ngôn ngữ:</strong> Tiếng Anh</p>
                  <p><strong>Ngày khởi chiếu:</strong> 01/09/2023</p>
                </div>
                <button id="buy">Mua vé</button>
              </div>
            </div>
          </section>
        </div>
        <section id="trailer">
          <h1 class="heading">Trailer</h1>
          <div class="video-frame">
            <iframe
              width="830"
              height="490"
              src="https://www.youtube.com/embed/Ca2tUS5tG68?si=74Fjmz5dEaTUhGbi"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </section>
      </main>
      <!-- Footer -->
      <footer>
        <div class="container footer__inner">
          <div class="copyright">
            <h2>
              Movie
              <p>Time</p>
            </h2>
            <p>Copyright © 2023</p>
            <p>Movie Time | Original Cinema Website</p>
          </div>
          <div class="action">
            <div class="info">
              <div class="row">
                <a href="./about">Giới thiệu</a>
                <a href="./contact">Liên hệ</a>
                <a href="./">Điều khoản</a>
              </div>
              <div class="row">
                <a href="./faq">F.A.Q</a>
                <a href="./ads">Liên hệ quảng cáo</a>
              </div>
            </div>
            <div class="btn-contact">
              <a href="https://www.facebook.com/haiduong004" target="_blank"
                ><button>Contact Us</button></a
              >
            </div>
            <div class="call">
              <p><b>Give us a Call</b>(+84) 123-456-789</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../../utils/ProductUltil.js"></script>
<script src="../../utils/Authentication/Logout.js"></script></script>
    <script src="../../utils/changeHeaderBg.js"></script>
  </body>
</html>
