@import 'base';
@import 'variables';
@import 'responsive';

.container {
  max-width: 100%;
  padding-inline: 80px;
  margin: 0 auto;
}

.active {
  display: block;
}

.tab-active {
  color: $clr-primary;
}

header {
  position: fixed;
  top: 0;
  height: 73px;
  z-index: 999;
  width: 100%;
  background-color: $clr-box;
  box-shadow: $box-shadow;
  & nav {
    padding: 5px 20px;
    .header__inner {
      @include flex(space-between, center);
      &-logo {
        & img {
          user-select: none;
          height: 60px;
        }
      }
      &-search {
        position: relative;
        margin-left: 40px;
        @include flex(center, center);
        & i {
          cursor: pointer;
          display: block;
          position: absolute;
          left: 0;
          top: 25%;
          padding-left: 10px;
        }
        & input {
          padding-left: 37px;
          width: 248px;
          height: 38px;
          border: 1px solid $clr-border;
          border-radius: 10px;
          &::placeholder {
            font-weight: 600;
            color: $clr-border;
          }
        }
      }
      &-navigation {
        @include flex(center, center);
        &-menu {
          @include flex(center, center);
          margin-left: 40px;
          & li {
            & a {
              cursor: pointer;
              margin-left: 32px;
              transition: 0.2s;
              &:hover {
                transition: 0.2s;
                color: $clr-primary;
              }
            }
            &:first-child {
              margin-left: 0;
            }
          }
        }
        &-cart {
          @include flex(center, center);
          & li {
            padding-inline: 56px;
            & a {
              cursor: pointer;
              display: block;
              transition: 0.2s;
              &:hover {
                color: $clr-primary;
                transition: 0.2s;
              }
            }
            &:last-child {
              border-left: 1px solid $clr-text;
            }
          }
        }
        #login {
          width: 115px;
          height: 45px;
          border: 1px solid $clr-border;
          border-radius: 40px;
          @include flex(center, center);
          transition: 0.2s;
          cursor: pointer;
          & a {
            & i {
              vertical-align: middle;
              margin-right: 8px;
            }
          }
          &:hover {
            transition: 0.2s;
            background-color: $clr-accent;
            border-color: transparent !important;
            color: $clr-box;
          }
        }
      }
    }
  }
}

.carts {
  margin-top: 150px;
  &__inner {
    & h1 {
      text-align: center;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    font-size: 25px;
    &-table {
      width: 100%;
      &-heading {
        margin-top: 20px;
        font-weight: 600;
        border-bottom: 3px solid $clr-primary;
        padding-bottom: 15px;
        color: $clr-primary;
        & p {
          text-transform: uppercase;
        }
      }
      &-body {
        margin-top: 20px;
        min-height: 250px;
        .films-item {
          margin-top: 10px;
          .film-name {
            line-height: 40px;
          }
          & img {
            margin: 10px auto 0;
            width: 200px;
            height: 316.5px;
            border-radius: 20px;
          }
          &-total {
            @include flex(center, center);
            & i {
              color: red;
              font-size: 50px;
              margin-left: 30px;
              position: absolute;
              right: 10px;
              cursor: pointer;
              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
        #quantity {
          border: none;
          width: 60px;
          height: 60px;
          font-size: 25px;
          border-radius: 10px;
          padding-inline: 15px;
          border: 2px solid $clr-primary;
          &:focus {
            outline: 2px solid $clr-accent;
            outline-offset: 0.5px;
          }
        }
        .quantity {
          @include flex(center, center);
          gap: 10px;
        }
        .changeQuantityButton {
          cursor: pointer;
          padding: 10px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: none;
          font-size: 25px;
          @include flex(center, center);
          background-color: $clr-primary;
          &:hover {
            opacity: 0.7;
            transition: 0.2s;
          }
          &:active {
            outline: 2px solid $clr-accent;
            outline-offset: 2px;
            transition: 0.2s;
          }
        }
      }
      &-footer {
        margin-top: 30px;
        background-color: $clr-primary;
        border-radius: 20px;
        .checkout {
          grid-column: span 5;
          padding: 20px;
        }
        & p {
          font-weight: 600;
          color: $clr-bg;
          font-size: 25px;
        }
        #sum {
          font-size: 40px;
          color: yellow;
        }
        #icon {
          color: red;
          position: fixed;
          right: 400px;
          cursor: pointer;
          width: 120px;
          border-radius: 50px;
          border: $clr-bg;
          &:hover {
            background: red;
            color: $clr-bg;
          }
          &:active {
            outline: 4px solid yellow;
            outline-offset: 1px;
            color: yellow;
          }
        }
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 230px;
  background-color: $clr-box;
  border-top: 2px solid $clr-border;
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
  .footer__inner {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 70px;
    .copyright {
      grid-column: span 1;
      & h2 {
        margin-top: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        font-size: 40px;
        & p {
          display: inline-block;
          color: $clr-primary;
        }
      }
      & p {
        margin-bottom: 15px;
      }
    }
    .action {
      grid-column: span 1;
      display: grid;
      grid-template-columns: 2fr 1fr;
      .info {
        .row {
          margin-top: 15px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          & a {
            border-left: 3px solid $clr-primary;
            padding-left: 15px;
          }
        }
      }
      .btn-contact {
        margin: 20px 20px 0 0;
        @include flex(flex-end, flex-start);
        & a {
          & button {
            width: 200px;
            height: 50px;
            cursor: pointer;
            color: $clr-box;
            background-color: $clr-accent;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 10px;
            border: 1px solid $clr-border;
            letter-spacing: 1px;
            transition: 0.2s;
            &:hover {
              transition: 0.2s;
              background-color: $clr-primary;
              letter-spacing: 2px;
            }
          }
        }
      }
      .call {
        margin-top: 30px;
        & p {
          & b {
            font-weight: 700;
            margin-right: 30px;
          }
        }
      }
    }
  }
}
