html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 32px;
  font-weight: bolder;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18.72px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13.28px;
}

h6 {
  font-size: 10.72px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

i {
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.changeBackground {
  background-color: #a96a71 !important;
  color: #f8f8f8 !important;
}
.changeBackground nav .header__inner-search i {
  color: #a96a71;
}
.changeBackground nav .header__inner-search input {
  border: 1px solid #cfcfcf;
}
.changeBackground nav .header__inner-navigation {
  color: #f8f8f8;
}
.changeBackground nav .header__inner-navigation-menu li a {
  color: #f8f8f8;
}
.changeBackground nav .header__inner-navigation-menu li a:hover {
  color: #cfcfcf;
}
.changeBackground nav .header__inner-navigation-cart li a {
  color: #f8f8f8;
}
.changeBackground nav .header__inner-navigation-cart li a:hover {
  color: #cfcfcf;
}
.changeBackground nav .header__inner-navigation-cart li:last-child {
  border-left: 1px solid #cfcfcf;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
.container {
  max-width: 100%;
  padding-inline: 80px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  height: 73px;
  z-index: 999;
  width: 100%;
  background-color: transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: 500;
}
header nav {
  padding: 5px 20px;
}
header nav .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: nowrap;
}
header nav .header__inner-logo img {
  user-select: none;
  height: 60px;
}
header nav .header__inner-search {
  position: relative;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: nowrap;
}
header nav .header__inner-search i {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 0;
  top: 25%;
  padding-left: 10px;
}
header nav .header__inner-search input {
  padding-left: 37px;
  width: 248px;
  height: 38px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}
header nav .header__inner-search input::placeholder {
  font-weight: 600;
  color: #cfcfcf;
}
header nav .header__inner-navigation {
  color: #5d6673;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: nowrap;
}
header nav .header__inner-navigation-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: nowrap;
  margin-left: 40px;
}
header nav .header__inner-navigation-menu li a {
  cursor: pointer;
  margin-left: 32px;
  transition: 0.2s;
}
header nav .header__inner-navigation-menu li a:hover {
  transition: 0.2s;
  color: #a96a71;
}
header nav .header__inner-navigation-menu li:first-child {
  margin-left: 0;
}
header nav .header__inner-navigation-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: nowrap;
}
header nav .header__inner-navigation-cart li {
  padding-inline: 56px;
}
header nav .header__inner-navigation-cart li a {
  cursor: pointer;
  display: block;
  transition: 0.2s;
}
header nav .header__inner-navigation-cart li a:hover {
  color: #a96a71;
  transition: 0.2s;
}
header nav .header__inner-navigation-cart li:last-child {
  border-left: 1px solid #cfcfcf;
}
header nav .header__inner-navigation #login {
  width: 115px;
  height: 45px;
  border: 1px solid #cfcfcf;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: nowrap;
  transition: 0.2s;
  cursor: pointer;
}
header nav .header__inner-navigation #login a i {
  vertical-align: middle;
  margin-right: 8px;
}
header nav .header__inner-navigation #login:hover {
  transition: 0.2s;
  background-color: #854c53;
  border-color: transparent !important;
  color: #f9fafb;
}

main .heading {
  margin-top: 110px;
}
main .heading p {
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
}
main .heading p #to-home {
  color: #5d6673;
}
main .heading p i {
  vertical-align: middle;
}
main .heading p a {
  color: #a96a71;
}
main #product {
  margin-top: 20px;
}
main #product .product__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  word-wrap: nowrap;
  gap: 50px;
}
main #product .product__inner-image img {
  border-radius: 10px;
  width: 250px;
  height: 410px;
  object-fit: cover;
}
main #product .product__inner-desc {
  font-size: 17px;
}
main #product .product__inner-desc-heading {
  margin-top: 20px;
}
main #product .product__inner-desc-desc {
  margin-top: 20px;
  line-height: 27px;
}
main #product .product__inner-desc-others {
  font-size: 16px;
  margin-top: 20px;
  line-height: 30px;
}
main #product .product__inner-desc-others p strong {
  margin-right: 3px;
  text-transform: uppercase;
  font-weight: bolder;
}
main #trailer {
  background-color: #5d6673;
  padding-bottom: 100px;
}
main #trailer .heading {
  color: #f8f8f8;
  text-align: center;
  margin-top: 50px;
  padding-top: 40px;
  text-transform: uppercase;
}
main #trailer .video-frame {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: nowrap;
}
main #buy {
  text-transform: uppercase;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin-top: 15px;
  cursor: pointer;
  background-color: #a96a71;
  border: 2px solid transparent;
  font-size: 20px;
  color: #f8f8f8;
  transition: 0.2s;
}
main #buy:hover {
  transition: 0.2s;
  border: 2px solid #a96a71;
  color: #a96a71;
  background-color: transparent;
}

footer {
  width: 100%;
  height: 230px;
  background-color: #f9fafb;
  border-top: 2px solid #cfcfcf;
}
footer .container {
  max-width: 80%;
  margin: 0 auto;
}
footer .footer__inner {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 70px;
}
footer .footer__inner .copyright {
  grid-column: span 1;
}
footer .footer__inner .copyright h2 {
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 40px;
}
footer .footer__inner .copyright h2 p {
  display: inline-block;
  color: #a96a71;
}
footer .footer__inner .copyright p {
  margin-bottom: 15px;
}
footer .footer__inner .action {
  grid-column: span 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
footer .footer__inner .action .info .row {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer .footer__inner .action .info .row a {
  border-left: 3px solid #a96a71;
  padding-left: 15px;
}
footer .footer__inner .action .btn-contact {
  margin: 20px 20px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  word-wrap: nowrap;
}
footer .footer__inner .action .btn-contact a button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: #f9fafb;
  background-color: #854c53;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid #cfcfcf;
  letter-spacing: 1px;
  transition: 0.2s;
}
footer .footer__inner .action .btn-contact a button:hover {
  transition: 0.2s;
  background-color: #a96a71;
  letter-spacing: 2px;
}
footer .footer__inner .action .call {
  margin-top: 30px;
}
footer .footer__inner .action .call p b {
  font-weight: 700;
  margin-right: 30px;
}

/*# sourceMappingURL=ProductStyle.css.map */
